<!DOCTYPE html>
<html>
  <head>
    <title>Streamline</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag asset_path('fav.jpg') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB5h9kOBDp1KRaiQCrlNb3avTAJpcTxqP4" %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://www.google.com/uds/?file=visualization&amp;v=1&amp;packages=columnchart" type="text/javascript"></script>
    <script type="text/javascript">

      window.mb = "<%= image_url('mb.jpg') %>"
      window.bi = "<%= image_url('bi.jpg') %>"
      window.br = "<%= image_url('br.jpg') %>"
      window.gal = "<%= image_url('gal.jpg') %>"
      window.gb = "<%= image_url('gb.jpg') %>"
      window.go = "<%= image_url('go.jpg') %>"
      window.mbf = "<%= image_url('mbf.jpg') %>"
      window.mbg = "<%= image_url('mbg.jpg') %>"
      window.bb = "<%= image_url('bb.jpg') %>"
      window.bgb = "<%= image_url('bgb.jpg') %>"
      window.tbg = "<%= image_url('tbg.jpg') %>"
      window.gob = "<%= image_url('gob.jpg') %>"

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
